body{
  background-color: #F5AF2D;
  padding: 5;
  margin: 5;
}


.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:black;
  opacity: 0.85;
  padding: 10px;
}

.menu_text{
  margin: 10px;
  padding: 10px;
  color: white;
  font-family: 'Lato';
  font-size: 30px;
}

.menu a:hover{
  color: yellow;
}

.top-of-page-icon{
  position: fixed;
  margin-top: 70vh;
  margin-left: 90vw;
  height: 100px;
  width: auto;
}

h1{
  margin: 50px;
  font-family: "Happy Monkey";
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 200px;
}

h1:hover, h2:hover, h4:hover{
  color: yellow;
}

h2{
  font-family: "Lato";
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: 1000;
}


h3{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Lato';
  font-weight: 1000px;
  font-size: 30px;

}

h4{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-family: 'Lato';
  font-weight: 1000px;
  font-size: 30px;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  font-size: 50px;
  color: white;
  font-family: "Happy Monkey";
  font-weight: 600;
}

.text:hover{
  color: black;
}

a{
  text-decoration: none;
}

img{
  margin: 0;

}

.line{
  width: 60vw;
  height: 150px;
  justify-content: center;
}

.line2{
  height: 200px;
  width: 50vw;
}


.middle_panel{
  margin-bottom: 50px;
  padding: 30px;
  height: auto;
  position: inherit;
  background-color: #F5AF2D;
}

.text_container{
  margin: 100px 30px 100px 30px;
  text-align: center;
}

.link{color: black}


#imagesContainer{
  /* background-image: linear-gradient(to top, yellow 0%, #fad0c4 100%); */
}
#thumbnailContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}

.wrapper{
  width: 90%;
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 80rem;
}

.cols{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col{
  width: 25%;
  margin: 1rem;
  cursor: pointer;
}

.container{
  transform-style: preserve-3d;
	perspective: 1000px;
}

.front, .back{
  background-size: cover;
	background-position: center;
	transition: .8s cubic-bezier(.38,.01,0,.99);
	backface-visibility: hidden;
	text-align: center;
	min-height: 400px;
	border-radius: 10px;
	color: white;
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.front:after{
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: .7;
  background-color: black;
  border-radius: 10px;
}

.inner{
  transform: translateY(-50%) translateZ(60px) scale(1);
  top: 50%;
  position: absolute;
  left: 0;
  width: 80%;
  margin-left: 30px;
  box-sizing: border-box;
}

.container .front{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}


.container .back{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}


.container:hover.front, .container:hover.back{
  transition: .7s cubic-bezier(.38,.01,0,1);
}

.container:hover .front{
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.container:hover .back{
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.front .inner p{
  font-family: 'Happy Monkey';
  font-size: 25px;
  font-weight: 500;
  position: relative;
  bottom: -10px;
}

.front .inner p:after{
  content: '';
  width: 90px;
  height: 1.5px;
  background: yellow;
  display: block;
  margin: 0 auto;
  bottom: -5px;
  margin-top: 10px;
}

.front .inner span{
  color: white;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 400;
  position: relative;
}

.back p{
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 1000;
  color: white;
  position: relative;
  bottom: -10px;
  text-shadow: -1px 1px 0 black,
          1px 1px 0 black,
         1px -1px 0 black,
        -1px -1px 0 black;
}

.image3{
  background-image: url("happyhappy.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
